<div fxLayout="row"
     class="mx-16 my-16">
  <div fxFlex>
    <h1 class="mat-display-3">&euro; Moneten!</h1>
  </div>
  <div fxFlex
       fxLayout="row"
       fxLayoutAlign="center">
    <button mat-icon-button>
      <mat-icon class="material-icons-round">euro</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-round">account_balance</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-round">savings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="material-icons-round">shopping_cart</mat-icon>
    </button>
  </div>
  <div fxFlex
       fxLayout="row"
       fxLayoutAlign="end">
    <button class="medium"
            mat-icon-button>
      <mat-icon class="medium material-icons-round">person</mat-icon>
    </button>
  </div>
</div>

<div fxFlex="100"
     fxLayout="column"
     class="mb-32">
  <div fxLayout="row"
       class="mx-16">
    <h1>Arbeitgeber</h1>
  </div>
  <div fxFlex="100"
       fxLayout="row"
       fxLayoutGap="8px"
       class="scroll-horizontal"
       style="padding: 16px 0;">
    <div style="min-width: 8px;"></div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div class="card mat-elevation-z3 br-5"
         style="min-width: 300px; height: 300px">

    </div>
    <div style="min-width: 32px;"></div>
  </div>
  <!-- Filter -->
  <!-- TODO Monate ein/ausblenden -->
  <!-- TODO Jahreszusammenfassung ein/ausblenden  -->
  <!-- Monat -->
  <!-- TODO Brutto/Netto pro AG -->
  <!-- TODO Brutto/Netto Gesamt -->
  <!-- TODO Brutto/Netto pro AG mit Berücksichtigung von Mehrfachbeschäftigung -->
  <!-- TODO Brutto/Netto Gesamt mit Berücksichtigung von Mehrfachbeschäftigung -->
  <!-- Jahr -->
  <!-- TODO Brutto/Netto pro AG -->
  <!-- TODO Brutto/Netto Gesamt -->
  <!-- TODO Brutto/Netto pro AG mit Berücksichtigung von Mehrfachbeschäftigung -->
  <!-- TODO Brutto/Netto Gesamt mit Berücksichtigung von Mehrfachbeschäftigung -->
</div>
