/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$default-typography: mat.define-typography-config(
  $font-family: 'Roboto Serif',
);

@include mat.core($default-typography);

$primary-palette: mat.$light-blue-palette;
$accent-palette: mat.$amber-palette;
$default-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
  ),
  typography: $default-typography
));

@include mat.all-component-themes($default-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto Serif', serif; }

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-32 {
  margin: 32px;
}

.w-100 {
  width: 100%;
}

.br-5 {
  border-radius: 5px;
}

.card {
  background: white;
}

.horizontal-spacer {
  margin: 16px 0;
}

.scroll-horizontal {
  overflow-x: auto;
}

.mat-icon-button.medium {
  width: 64px;
  height: 64px;
  line-height: 64px;

  .mat-icon {
    font-size: 58px;
    height: 58px;
    width: 58px;
    line-height: 58px;
  }
}

mat-icon.large {
  font-size: 128px;
  height: 128px;
  width: 128px;
}

mat-icon.medium {
  font-size: 64px;
  height: 64px;
  width: 64px;
}

table.mat-table {
  width: auto;
}

th.mat-header-cell, td.mat-cell {
  padding: 0 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.w-100 {
  width: 100%;
}

.br-5 {
  border-radius: 5px;
}

.card {
  background: white;
}

.horizontal-spacer {
  margin: 16px 0;
}

.scroll-horizontal {
  overflow-x: auto;
}

.mat-icon-button.medium {
  width: 64px;
  height: 64px;
  line-height: 64px;
}

.mat-icon-button.medium .mat-icon {
  font-size: 58px;
  height: 58px;
  width: 58px;
  line-height: 52px;
}

mat-icon.large {
  font-size: 128px;
  height: 128px;
  width: 128px;
}

mat-icon.medium {
  font-size: 64px;
  height: 64px;
  width: 64px;
}

table.mat-table {
  width: auto;
}

th.mat-header-cell, td.mat-cell {
  padding: 0 16px;
}
